(
n7right,
arrowrtdwn,
barb3ne,
a2clockwise,
a2cntrclockwise,
a2opdwnup,
a2opleftrt,
a2optabdwnup,
a2optableftrt,
a2parlldown,
a2parllleft,
a2parllright,
a2parllup,
a2uaboveleft,
a2ubelowright,
a2uleftdown,
a2urightup,
arrowdwnleft,
arrowdwnrt,
arrowleftdwn,
arrowleftup,
arrowrtup,
arrowupleft,
arrowuprt,
barb1down,
barb1left,
barb1ne,
barb1nw,
barb1right,
barb1se,
barb1up,
barb3down,
barb3left,
barb3nw,
barb3right,
barb3up,
capslock,
control,
enter,
escape1,
l7down,
m9down,
m9left,
m9right,
m9up,
n7down,
n7left,
n7up,
newlineleft,
newlineright,
nobreakspacemark,
oleftshadow,
option,
returnright,
shiftlock,
spacemark,
barb5ne,
b2down,
b2left,
b2leftright,
b2ne,
b2nw,
b2right,
b2se,
b2sw,
b2up,
b2updown,
barb3se,
barb5down,
barb5left,
barb5nw,
barb5right,
barb5se,
barb5sw,
barb5up,
drawdblleft,
drawdblright,
drawdblup,
drawdown,
drawleft,
drawright,
drawup,
drawdbldown,
oleftoblqshad,
oleftoblqshadup,
orightoblqshad,
orightoblqshadup,
orightshadlft,
barb3sw,
triang45baseleft,
triangle45basert,
triangle45toppleft,
triangledwn,
triangleleft,
triangleopendwn,
triangleopenleft,
triangleopenrt,
triangleopenup,
trianglert,
triangleup,
f4right,
k6right,
a2pagedown,
a2leftright,
a2updown,
a2leftdash,
a2rightdash,
a2updash,
a2downdash,
a2zigzag,
a2cornerdwnleft,
a2cornerdwnrt,
l7left,
k6down,
l7right,
k6left,
h6right,
i8left,
a3down,
.notdef,
noName00002,
a2end,
a2tabdown,
a2cornerupleft,
a2corneruprt,
a2left,
a4left,
a2cornerrtdwn,
l7up,
j6up,
a2pageup,
a2tabright,
a2up,
oleftshadup,
a2home,
g5dash2,
orightshadrt,
a2se,
a2tableft,
triangle45toprt,
triangle45right,
orightshadow,
orightshadup,
g5left,
k6up,
a2right,
a2sw,
returnleft,
a2ne,
j6right,
e3left,
f4left,
g5dash3,
g5right,
triangle45left,
d1right,
a2down,
a4down,
a4right,
a4up,
d1left,
a2tabup,
barb1sw,
a2cornerrightup,
a2cornerleftdwn,
a2cornerleftup,
h6left,
triangle45up,
g51,
oleftshadlft,
j6left,
a2nw,
e3right,
oleftshadrt,
i8right,
g5dash4,
j6down,
noName00001,
space,
triangle45down,
trianglecentdwn,
trianglecentleft,
trianglecentrt,
headleft,
headright,
headup,
headdown,
c1left,
c1right,
c1up,
c1down,
c2left,
c2right,
c2up,
c2down,
c3left,
c3right,
c3up,
c3down,
c4left,
c4right,
c4up,
c4down,
a1left,
a1right,
a1up,
a1down,
a3left,
a3right,
a3up,
trianglecentup
)