(
A,
Aacute,
Acircumflex,
Adieresis,
Agrave,
Aring,
Atilde,
AE,
B,
C,
Ccedilla,
D,
Eth,
E,
Eacute,
Ecircumflex,
Edieresis,
Egrave,
F,
G,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Igrave,
J,
K,
L,
M,
N,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Oslash,
Otilde,
P,
Thorn,
Q,
R,
S,
T,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
V,
W,
X,
Y,
Yacute,
Z,
a,
aacute,
acircumflex,
adieresis,
agrave,
aring,
atilde,
ae,
b,
c,
ccedilla,
d,
eth,
e,
eacute,
ecircumflex,
edieresis,
egrave,
f,
g,
h,
i,
iacute,
icircumflex,
idieresis,
igrave,
j,
k,
l,
m,
n,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
oslash,
otilde,
p,
thorn,
q,
r,
s,
germandbls,
t,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
v,
w,
x,
y,
yacute,
ydieresis,
z,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
nbspace,
period,
comma,
colon,
semicolon,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
guillemetleft,
guillemetright,
quotedbl,
quotesingle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
degree,
bar,
brokenbar,
cent,
currency,
dollar,
sterling,
yen,
plus,
multiply,
divide,
equal,
greater,
less,
plusminus,
asciitilde,
logicalnot,
asciicircum,
micro,
percent,
dieresis,
grave,
acute,
macron,
cedilla,
uni0001,
uni0008,
uni0009,
uni0080,
uni0081,
uni0082,
uni0083,
uni0084,
uni0085,
uni0086,
uni0087,
uni0088,
uni0089,
uni008A,
uni008B,
uni008C,
uni008D,
uni008E,
uni008F,
uni0090,
uni0091,
uni0092,
uni0093,
uni0094,
uni0095,
uni0096,
uni0097,
uni0098,
uni0099,
uni009A,
uni009B,
uni009C,
uni009D,
uni009E,
uni009F,
glyph00002
)