(
cross1,
x4,
hexasterisk5,
ampersandbld,
ampersanditaldm,
boxcheck,
boxx,
boxxbld,
boxxmark,
check,
circlex,
circlexbld,
cross2,
cross3,
cross4,
cross5,
cross6,
cross7,
handbckptdwn,
handbckptleft,
handbckptright,
handbckptup,
handptdwn1,
handptdwnsld,
handptdwnsld1,
handptlftsld,
handptrtsld,
handptrtsld1,
handptup1,
handptupsld,
handptupsld1,
handspreadback,
hexagon1cent,
hexagon2cent,
hexasterisk1,
hexasterisk2,
hexasterisk3,
hexasterisk4,
octagon1,
octagon2,
pentagon1cent,
pentagon2cent,
pentasterisk1,
pentasterisk2,
pentasterisk3,
pentasterisk5,
pentasterisk6,
prohibit,
prohibitbld,
x1,
x2,
x3,
x5,
x6,
x7,
xmark,
tristar3,
budleafboldne,
budleafboldnw,
budleafboldse,
budleafboldsw,
crosstar1,
crosstar3,
crosstar4,
cusp,
dodecastar1,
dodecastar4,
dodecastar2,
eight,
five,
fiveinv,
four,
fourinv,
hexstar1,
hexstar3,
hexstar4,
nine,
octastar1,
octastar3,
octasterisk1,
octasterisk2,
octasterisk3,
octasterisk4,
octasterisk5,
one,
oneinv,
pentastar1,
pentastar3,
pentastar4,
seven,
hexasterisk6,
six,
sixinv,
ten,
three,
threeinv,
trihexasterisk,
tristar1,
tristar4,
two,
twoinv,
vineleafne,
vineleafnw,
vineleafse,
vineleafsw,
xdot,
zero,
zeroinv,
boxtarget,
semicircleleft,
filetall,
filetall3,
clipboard,
trashcan,
window,
monitor,
printer,
fax,
cd,
tapecartridge,
semicircledwn,
semicircleup,
squarecent,
lozengebutton,
rhombbutton3,
rhombtarget,
square3,
noName00002,
filetext3,
filetext1,
mouse1button,
mouse3button,
penballpoint,
square5,
handptrt1,
rhombuscent,
lozenge5,
brush,
file,
filetall1,
ampersandsandm,
filetext,
rhombus3,
interrobangsans,
telhandset,
file1,
seveninv,
nineinv,
ampersandsans,
interrobang,
rhombus1,
semicirclert,
penfountain,
telephone,
handptlftsld1,
scissorschilds,
lozenge3,
boxbutton1,
boxbutton3,
rhombus5,
rhombbutton1,
eightinv,
box7,
box1,
box5,
box6,
crayon,
square7,
file3,
pentasterisk4,
cusp1,
thumbbackdwn,
handptlft1,
thumbbackup,
rhombbutton2,
teninv,
rhombus2,
interrobangdm,
lozenge2,
scissorsoutline,
boxbutton2,
interrobngsandm,
lozenge1,
rhombopen,
lozengeopen,
.notdef,
noName00001,
space,
sun,
moonfull,
moonfirstqrtr,
moonlastqrtr,
capitulum,
cross,
crossbld,
onethirty,
twothirty,
threethirty,
fourthirty,
fivethirty,
sixthirty,
seventhirty,
eightthirty,
ninethirty,
tenthirty,
eleventhirty,
twelvethirty,
quiltsquare,
quiltsquareinv,
circle1,
circle3,
circle5,
circle7,
ring1,
ring3,
ring5,
ring7,
ringbutton1,
ringbutton3,
square1
)